<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!--link rel="stylesheet" href="../static/css/styles.css"-->
</head>

<body>
  <!--page div-->
  <div class="container-fluid">
    <!--jumbotron-->
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data!</a></p>
    </div>

    <!--Latest Mars News-->
    <div class="row" style="padding-top: 30px; padding-bottom: 30px; padding-left: 30px; padding-right: 30px">
      <div class="col-md-12">
        <h2>Latest Mars News</h2>
          <h4><p>{{ mars.news_title }}</p></h4>
          <p>{{ mars.news_article }}</p>
      </div>
    </div>

    <!--Mars image, weather and facts-->
    <div class="row" style="padding-bottom: 30px; padding-left: 30px; padding-right: 30px">
      <!--Mars image-->
      <div class="col-md-8" style="padding-bottom: 30px; padding-left: 30px; padding-right: 30px">
        <h1>Featured Mars Image</h1>
          <img src="{{ mars.featured_image }}" style="width:80%" alt="Featured Mars Image">
      </div>

      <!--Weather and facts-->
      <div class="col-md-4" style="padding-bottom: 30px; padding-right: 30px">
        <!--Weather-->
        <div class="row">
          <h2>Current Weather on Mars</h2>
            <p>{{ mars.tweet }}</p>
        </div>

        <!--Facts-->
        <div class="row" style="padding-bottom: 30px; padding-right: 30px">
          <h2>Mars Facts</h2>
            {{ mars.mars_table | safe }}
        </div>

      </div>
    </div>
    <div class="row" style="padding-bottom: 30px; padding-left: 30px; padding-right: 30px">
      <div class="col-md-12" style="padding-bottom: 30px; padding-left: 30px; padding-right: 30px">
        <div class="row" style="padding-bottom: 30px; padding-left: 30px; padding-right: 30px">
          <div class="col-md-5">
            <img src="{{ mars.cerberus_image }}" style="width:100%" alt="Cerberus Hemisphere Enhanced">
            <h3>Cerberus Hemisphere Enhanced</h3>
          </div>
          <div class="col-md-5">
            <img src="{{ mars.schiaparelli_image }}" style="width:100%" alt="Schiaparelli Hemisphere Enhanced">
            <h3>Schiaparelli Hemisphere Enhanced</h3>
          </div>
        </div>
        <div class="row" style="padding-bottom: 30px; padding-left: 30px; padding-right: 30px">
          <div class="col-md-5">
            <img src="{{ mars.syrtismajor_image }}" style="width:100%" alt="Syrtis Major Hemisphere Enhanced">
            <h3>Syrtis Major Hemisphere Enhanced</h3>
          </div>
          <div class="col-md-5">
            <img src="{{ mars.vallesmarineris_image }}" style="width:100%" alt="Valles Marineris Hemisphere Enhanced">
            <h3>Valles Marineris Hemisphere Enhanced</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
